<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/homestyles.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>MyFootball101</title>
</head>
<body>
  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/img/start_icon.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/home">
      <input type="text" id="name" class="fadeIn second" name="login" placeholder="name" required>
      <input type="tel" id="contact" class="fadeIn third" name="login" placeholder="contact" required>
      <input type="email" id="email" class="fadeIn fourth" name="login" placeholder="email" required>
      <select name="login" aria-placeholder="Select team" class="fadeIn fourth" id="option"required>
        <option value="" disabled selected>Select your favourite team</option>
        <option>{{response.[0].team.name}}</option>
        <option>{{response.[1].team.name}}</option>
        <option>{{response.[2].team.name}}</option>
        <option>{{response.[3].team.name}}</option>
        <option>{{response.[4].team.name}}</option>
        <option>{{response.[5].team.name}}</option>
        <option>{{response.[6].team.name}}</option>
        <option>{{response.[7].team.name}}</option>
        <option>{{response.[8].team.name}}</option>
        <option>{{response.[9].team.name}}</option>
        <option>{{response.[10].team.name}}</option>
        <option>{{response.[11].team.name}}</option>
        <option>{{response.[12].team.name}}</option>
        <option>{{response.[13].team.name}}</option>
        <option>{{response.[14].team.name}}</option>
        <option>{{response.[15].team.name}}</option>
        <option>{{response.[16].team.name}}</option>
        <option>{{response.[17].team.name}}</option>
        <option>{{response.[18].team.name}}</option>
        <option>{{response.[19].team.name}}</option>
      </select>
      <input type="password" id="password" class="fadeIn fifth" name="login" placeholder="password" required>
      {{!-- <button id="signup"><a style="text-decoration:none; color: black" href="/home">Sign Up</a></button> --}}
      <input type="submit" id ="sign" class="fadeIn sixth" name="login" value="SignUp">
    </form>

    <div id="formFooter">
      <p>Already have an account? <a class="underlineHover" href="/login">Login</a></p>
    </div>
  </div>
</div>
</body>
<script src="/js/check.js"></script>"

</html>