<!DOCTYPE html>
<html lang="en">
<head>
    <title>Standings</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">

</head>      
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar transparent navbar-inverse">
        <a class="navbar-brand" href="#" id="img1"><img src = "../img/download.jpeg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Events</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/standings">Standings</a>
            </li>
          </ul>
        </div>
        </div>
      </nav>    
    <h1>Standings</h1>
</body>

<div class="table">
<body>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Club</th>
      <th scope="col">P</th>
      <th scope="col">W</th>
      <th scope="col">D</th>
      <th scope="col">L</th>
      <th scope="col">GF</th>
      <th scope="col">GA</th>
      <th scope="col">PTS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{data0.team_name}}</td>
      <td>{{data0.overall_league_payed}}</td>
      <td>{{data0.overall_league_W}}</td>
      <td>{{data0.overall_league_D}}</td>
      <td>{{data0.overall_league_L}}</td>
      <td>{{data0.overall_league_GF}}</td>
      <td>{{data0.overall_league_GA}}</td>
      <td>{{data0.overall_league_PTS}}</td>
    </tr>
   <tr>
      <th scope="row">2</th>
      <td>{{data1.team_name}}</td>
      <td>{{data1.overall_league_payed}}</td>
      <td>{{data1.overall_league_W}}</td>
      <td>{{data1.overall_league_D}}</td>
      <td>{{data1.overall_league_L}}</td>
      <td>{{data1.overall_league_GF}}</td>
      <td>{{data1.overall_league_GA}}</td>
      <td>{{data1.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>{{data2.team_name}}</td>
      <td>{{data2.overall_league_payed}}</td>
      <td>{{data2.overall_league_W}}</td>
      <td>{{data2.overall_league_D}}</td>
      <td>{{data2.overall_league_L}}</td>
      <td>{{data2.overall_league_GF}}</td>
      <td>{{data2.overall_league_GA}}</td>
      <td>{{data2.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>{{data3.team_name}}</td>
      <td>{{data3.overall_league_payed}}</td>
      <td>{{data3.overall_league_W}}</td>
      <td>{{data3.overall_league_D}}</td>
      <td>{{data3.overall_league_L}}</td>
      <td>{{data3.overall_league_GF}}</td>
      <td>{{data3.overall_league_GA}}</td>
      <td>{{data3.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>{{data4.team_name}}</td>
      <td>{{data4.overall_league_payed}}</td>
      <td>{{data4.overall_league_W}}</td>
      <td>{{data4.overall_league_D}}</td>
      <td>{{data4.overall_league_L}}</td>
      <td>{{data4.overall_league_GF}}</td>
      <td>{{data4.overall_league_GA}}</td>
      <td>{{data4.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>{{data5.team_name}}</td>
      <td>{{data5.overall_league_payed}}</td>
      <td>{{data5.overall_league_W}}</td>
      <td>{{data5.overall_league_D}}</td>
      <td>{{data5.overall_league_L}}</td>
      <td>{{data5.overall_league_GF}}</td>
      <td>{{data5.overall_league_GA}}</td>
      <td>{{data5.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>{{data6.team_name}}</td>
      <td>{{data6.overall_league_payed}}</td>
      <td>{{data6.overall_league_W}}</td>
      <td>{{data6.overall_league_D}}</td>
      <td>{{data6.overall_league_L}}</td>
      <td>{{data6.overall_league_GF}}</td>
      <td>{{data6.overall_league_GA}}</td>
      <td>{{data6.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>{{data7.team_name}}</td>
      <td>{{data7.overall_league_payed}}</td>
      <td>{{data7.overall_league_W}}</td>
      <td>{{data7.overall_league_D}}</td>
      <td>{{data7.overall_league_L}}</td>
      <td>{{data7.overall_league_GF}}</td>
      <td>{{data7.overall_league_GA}}</td>
      <td>{{data7.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>{{data8.team_name}}</td>
      <td>{{data8.overall_league_payed}}</td>
      <td>{{data8.overall_league_W}}</td>
      <td>{{data8.overall_league_D}}</td>
      <td>{{data8.overall_league_L}}</td>
      <td>{{data8.overall_league_GF}}</td>
      <td>{{data8.overall_league_GA}}</td>
      <td>{{data8.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>{{data9.team_name}}</td>
      <td>{{data9.overall_league_payed}}</td>
      <td>{{data9.overall_league_W}}</td>
      <td>{{data9.overall_league_D}}</td>
      <td>{{data9.overall_league_L}}</td>
      <td>{{data9.overall_league_GF}}</td>
      <td>{{data9.overall_league_GA}}</td>
      <td>{{data9.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>{{data10.team_name}}</td>
      <td>{{data10.overall_league_payed}}</td>
      <td>{{data10.overall_league_W}}</td>
      <td>{{data10.overall_league_D}}</td>
      <td>{{data10.overall_league_L}}</td>
      <td>{{data10.overall_league_GF}}</td>
      <td>{{data10.overall_league_GA}}</td>
      <td>{{data10.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">12</th>
      <td>{{data11.team_name}}</td>
      <td>{{data11.overall_league_payed}}</td>
      <td>{{data11.overall_league_W}}</td>
      <td>{{data11.overall_league_D}}</td>
      <td>{{data11.overall_league_L}}</td>
      <td>{{data11.overall_league_GF}}</td>
      <td>{{data11.overall_league_GA}}</td>
      <td>{{data11.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">13</th>
      <td>{{data12.team_name}}</td>
      <td>{{data12.overall_league_payed}}</td>
      <td>{{data12.overall_league_W}}</td>
      <td>{{data12.overall_league_D}}</td>
      <td>{{data12.overall_league_L}}</td>
      <td>{{data12.overall_league_GF}}</td>
      <td>{{data12.overall_league_GA}}</td>
      <td>{{data12.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">14</th>
      <td>{{data13.team_name}}</td>
      <td>{{data13.overall_league_payed}}</td>
      <td>{{data13.overall_league_W}}</td>
      <td>{{data13.overall_league_D}}</td>
      <td>{{data13.overall_league_L}}</td>
      <td>{{data13.overall_league_GF}}</td>
      <td>{{data13.overall_league_GA}}</td>
      <td>{{data13.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">15</th>
      <td>{{data14.team_name}}</td>
      <td>{{data14.overall_league_payed}}</td>
      <td>{{data14.overall_league_W}}</td>
      <td>{{data14.overall_league_D}}</td>
      <td>{{data14.overall_league_L}}</td>
      <td>{{data14.overall_league_GF}}</td>
      <td>{{data14.overall_league_GA}}</td>
      <td>{{data14.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">16</th>
      <td>{{data15.team_name}}</td>
      <td>{{data15.overall_league_payed}}</td>
      <td>{{data15.overall_league_W}}</td>
      <td>{{data15.overall_league_D}}</td>
      <td>{{data15.overall_league_L}}</td>
      <td>{{data15.overall_league_GF}}</td>
      <td>{{data15.overall_league_GA}}</td>
      <td>{{data15.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">17</th>
      <td>{{data16.team_name}}</td>
      <td>{{data16.overall_league_payed}}</td>
      <td>{{data16.overall_league_W}}</td>
      <td>{{data16.overall_league_D}}</td>
      <td>{{data16.overall_league_L}}</td>
      <td>{{data16.overall_league_GF}}</td>
      <td>{{data16.overall_league_GA}}</td>
      <td>{{data16.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">18</th>
      <td>{{data17.team_name}}</td>
      <td>{{data17.overall_league_payed}}</td>
      <td>{{data17.overall_league_W}}</td>
      <td>{{data17.overall_league_D}}</td>
      <td>{{data17.overall_league_L}}</td>
      <td>{{data17.overall_league_GF}}</td>
      <td>{{data17.overall_league_GA}}</td>
      <td>{{data17.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">19</th>
      <td>{{data18.team_name}}</td>
      <td>{{data18.overall_league_payed}}</td>
      <td>{{data18.overall_league_W}}</td>
      <td>{{data18.overall_league_D}}</td>
      <td>{{data18.overall_league_L}}</td>
      <td>{{data18.overall_league_GF}}</td>
      <td>{{data18.overall_league_GA}}</td>
      <td>{{data18.overall_league_PTS}}</td>
    </tr>
    <tr>
      <th scope="row">20</th>
      <td>{{data19.team_name}}</td>
      <td>{{data19.overall_league_payed}}</td>
      <td>{{data19.overall_league_W}}</td>
      <td>{{data19.overall_league_D}}</td>
      <td>{{data19.overall_league_L}}</td>
      <td>{{data19.overall_league_GF}}</td>
      <td>{{data19.overall_league_GA}}</td>
      <td>{{data19.overall_league_PTS}}</td>
    </tr>
  </tbody>
</table>
</body>
</div>

</html>